<div id="result"></div>
<script type="text/javascript">
if(typeof(EventSource) !== "undefined") {
   var evtSource =  new EventSource('/eventstream');
   evtSource.onmessage = function(event) {
    document.getElementById("result").innerHTML = event.data;

   };
} else {
     document.getElementById("result").innerHTML = "Sorry, your browser does not support server-sent events";
}

</script>
